#login-container{
  min-height: 100vh;
}

#loginCard{
  background-color: #fffafa;
  padding-bottom: 25px;
  border: none;
  border-radius: 12px;
  margin-bottom: 35px;
}

#loginHeader{
  background-color: #23418a;
  color:#fffafa;
  text-transform: uppercase;
  font-family: 'Teko', Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 25px;
  width: 100%;
}

#loginFormBody{
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

#loginButton{
  margin-top: 25px;
  background-color: #23418a;
  border: none;
  color: #fffafa;
}

#registerCard{
  background-color: #fffafa;
  padding-bottom: 25px;
  border: none;
  border-radius: 12px;
  margin-bottom: 35px;
}

#registerForm{
  background-color: #fffafa;
  padding-bottom: 25px;
  border: none;
  border-radius: 12px;
}

#registerHeader{
  background-color: #fbcccc;
  color:#000b0b;
  text-transform: uppercase;
  font-family: 'Teko', Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 25px;
  width: 100%;
}

#registerFormBody{
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

#registerButton{
  margin-top: 25px;
  background-color: #fbcccc;
  border: none;
  color: #000b0b;
}