#navbar{
  background-color: #000b0b;
  height:175px;
  position: fixed;
  min-width: 100%;
  z-index: 1000;
  padding-top: 25px;
  margin: 0;
}

#navbar-container{
  min-width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #000b0b;
  margin: 0;
}

#navbar-logo{
  height: 90px;
}

#profile-link{
  color: #fff4f5;
}

#navbar-contents-container{
  font-family: 'Teko', Arial, Helvetica, sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  color: #fff4f5;
}

#logout{
  font-family: 'Teko', Arial, Helvetica, sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  color: #fff4f5
}

Button:hover, Button:focus{
  color: red;
}

#navbar-toggle{
  color: #fff4f5;
  background-color: gray;
  margin-right: 150px;
}

#navbar-collapse{
width: 100vh;
color: #fff4f5;
}

#navlink{
  color: #fff4f5;
}

.nav-item{
  color: #fff4f5;
}